//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

.buildFadeInAnimation(@opacity: 0, @opacityIncrement: 0.1, @from: 0%, @to: 100%, @percentIncrement: 10) when (@from <= @to) {
    @{from} {
        opacity: @opacity;
    }
    .buildFadeInAnimation((@opacity + @opacityIncrement), @opacityIncrement, (@from + @percentIncrement), @to, @percentIncrement);
}

.buildLeftToRightAnimation(@left: -100%, @leftIncrement: 10%, @from: 0%, @to: 100%, @percentIncrement: 10) when (@from <= @to) {
    @{from} {
        position: relative;
        left: @left;
    }
    .buildLeftToRightAnimation((@left + @leftIncrement), @leftIncrement, (@from + @percentIncrement), @to, @percentIncrement);
}

.buildRightToLeftAnimation(@right: -100%, @rightIncrement: 10%, @from: 0%, @to: 100%, @percentIncrement: 10) when (@from <= @to) {
    @{from} {
        position: relative;
        right: @right;
    }
    .buildRightToLeftAnimation((@right + @rightIncrement), @rightIncrement, (@from + @percentIncrement), @to, @percentIncrement);
}

.buildWidthAnimation(@width: 0%, @widthIncrement: 10%, @from: 0%, @to: 100%, @percentIncrement: 10) when (@from <= @to) {
    @{from} {
        width: @width;
    }
    .buildWidthAnimation((@width + @widthIncrement), @widthIncrement, (@from + @percentIncrement), @to, @percentIncrement);
}

.buildHeightAnimation(@height: 0%, @heightIncrement: 10%, @from: 0%, @to: 100%, @percentIncrement: 10) when (@from <= @to) {
    @{from} {
        height: @height;
    }
    .buildHeightAnimation((@height + @heightIncrement), @heightIncrement, (@from + @percentIncrement), @to, @percentIncrement);
}

.buildColorAnimation(@colors, @index: 1) when (@index <= length(@colors)) {
    & when (@index = 1) {
        0% {
            color: extract(@colors, @index);
        }
    }
    & when not (@index = 1) {
        @percent: percentage(@index / length(@colors));
        @{percent} {
            color: extract(@colors, @index);
        }
    }
    .buildColorAnimation(@colors, (@index + 1));
}