//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

.roundedTop(@radius) {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}

.roundedBottom(@radius) {
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
}

.borderTopIfNotIsSingleChild(@borderTop: 1px solid #ddd) {
    &:not(:only-child) {
        border-top: @borderTop;
    }
}

.borderBottomIfNotIsLastChild(@borderBottom: 1px solid #ddd) {
    &:not(:last-child) {
        border-bottom: @borderBottom;
    }
}

.thinBottomShadow(@color) {
    .bottomShadow(10px, 40px, @color);
}

.lightBottomShadow(@color) {
    .bottomShadow(15px, 50px, @color);
}

.normalBottomShadow(@color) {
    .bottomShadow(20px, 50px, @color);
}

.boldBottomShadow(@color) {
    .bottomShadow(25px, 40px, @color);
}

.bottomShadow(@shadow, @blur, @color) {
    box-shadow: 0 @shadow @blur (((@blur / 2) + 5) * -1) @color;
}
