//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

@rawMinLgScreenSize: 1200;
@rawMinMdScreenSize: 992;
@rawMinSmScreenSize: 769;
@rawMaxMdScreenSize: (@rawMinLgScreenSize - 1);
@rawMaxSmScreenSize: (@rawMinMdScreenSize - 1);
@rawMaxXsScreenSize: (@rawMinSmScreenSize - 1);

@minLgScreenSize: ~"@{rawMinLgScreenSize}px";
@minMdScreenSize: ~"@{rawMinMdScreenSize}px";
@minSmScreenSize: ~"@{rawMinSmScreenSize}px";
@maxMdScreenSize: ~"@{rawMaxMdScreenSize}px";
@maxSmScreenSize: ~"@{rawMaxSmScreenSize}px";
@maxXsScreenSize: ~"@{rawMaxXsScreenSize}px";

.sameHeight(@selector: ~".sameHeight") when not (@selector = "") {
    @{selector} {
        .sameHeight("");
    }
}

.sameHeight(@selector: ~".sameHeight") when (@selector = "") {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.verticalAlign(@selector: ~"") when not (@selector = "") {
    @{selector} {
        .verticalAlign("");
    }
}

.verticalAlign(@selector: ~"") when (@selector = "") {
    display: table;
    width: 100%;

    > * {
        display: table-cell;
        vertical-align: middle;
    }
}