//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

//ResponsivenessBuilder.less
@import "https://bitbucket.org/TogetherDev/styles.less/raw/1ad8b1206ef4970387117c8523fbd1b0ac937f88/less/ResponsivenessBuilder.less";
//Columns.less
@import "https://bitbucket.org/TogetherDev/styles.less/raw/1ad8b1206ef4970387117c8523fbd1b0ac937f88/less/Columns.less";

//Responsive Scrollbar
.responsiveScrollbar(@minSize: 8, @maxSize: 6) {
    &::-webkit-scrollbar {
        .responsiveWidth("", @minSize, @maxSize);
        .responsiveHeight("", @minSize, @maxSize);
    }
}

//Responsive Body
.responsiveBody(@minFontSize: 10, @maxFontSize: 15, @minLineHeight: 1.2, @maxLineHeight: 1.45) {
    body {
        .responsiveFontSize("", @minFontSize, @maxFontSize);
        .responsiveLineHeight("", @minLineHeight, @maxLineHeight);
    }
}

//Responsive Containers
.responsiveContainers(@minPaddingLeftRight: 5, @maxPaddingLeftRight: 15) {
    .container {
        .responsivePaddingLeft("", @minPaddingLeftRight, @maxPaddingLeftRight);
        .responsivePaddingRight("", @minPaddingLeftRight, @maxPaddingLeftRight);
    }
}

//Responsive Columns
.responsiveColumns(@minPaddingLeftRight: 5, @maxPaddingLeftRight: 15) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        .responsivePaddingLeft("", @minPaddingLeftRight, @maxPaddingLeftRight);
        .responsivePaddingRight("", @minPaddingLeftRight, @maxPaddingLeftRight);
    }
}

//Responsive Panels
.responsivePanels(@minMarginBottom: 5, @maxMarginBottom: 20) {
    .responsiveMarginBottom(~".panel-group, .panel", @minMarginBottom, @maxMarginBottom);
}

.responsivePanelHeadings(@minPaddingTopBottom: 5, @maxPaddingTopBottom: 10, @minPaddingLeftRight: 5, @maxPaddingLeftRight: 15) {
    .panel-heading {
        .responsivePaddingTop("", @minPaddingTopBottom, @maxPaddingTopBottom);
        .responsivePaddingBottom("", @minPaddingTopBottom, @maxPaddingTopBottom);
        .responsivePaddingLeft("", @minPaddingLeftRight, @maxPaddingLeftRight);
        .responsivePaddingRight("", @minPaddingLeftRight, @maxPaddingLeftRight);
    }
}

.responsivePanelBody(@minPadding: 7.5, @maxPadding: 15) {
    .panel-body {
        .responsivePaddingTop("", @minPadding, @maxPadding);
        .responsivePaddingBottom("", @minPadding, @maxPadding);
        .responsivePaddingLeft("", @minPadding, @maxPadding);
        .responsivePaddingRight("", @minPadding, @maxPadding);
    }
}

//Responsive Nav
.responsiveNav(@minPaddingTopBottom: 5, @maxPaddingTopBottom: 10, @minPaddingLeftRight: 3, @maxPaddingLeftRight: 15) {
    .nav > li > a {
        .responsivePaddingTop("", @minPaddingTopBottom, @maxPaddingTopBottom);
        .responsivePaddingBottom("", @minPaddingTopBottom, @maxPaddingTopBottom);
        .responsivePaddingLeft("", @minPaddingLeftRight, @maxPaddingLeftRight);
        .responsivePaddingRight("", @minPaddingLeftRight, @maxPaddingLeftRight);
    }
}

//Responsive Nav
.responsiveTabContent(@minPadding: 5, @maxPadding: 15) {
    .tab-content > .tab-pane {
        .responsivePaddingTop("", @minPadding, @maxPadding);
        .responsivePaddingBottom("", @minPadding, @maxPadding);
        .responsivePaddingLeft("", @minPadding, @maxPadding);
        .responsivePaddingRight("", @minPadding, @maxPadding);
    }
}

//Responsive NavBrand
.responsiveNavBrand(@minFontSize: 10, @maxFontSize: 18, @minPadding: 7.5, @maxPadding: 15) {
    .navbar-brand {
        .responsiveFontSize("", @minFontSize, @maxFontSize, @maxWidth: @rawMaxXsScreenSize);
        .responsivePaddingTop("", @minPadding, @maxPadding);
        .responsivePaddingBottom("", @minPadding, @maxPadding);
        .responsivePaddingLeft("", @minPadding, @maxPadding);
        .responsivePaddingRight("", @minPadding, @maxPadding);
    }
}

//Responsive NavbarToggle
.responsiveNavbarToggle(@minPaddingTopBottom: 4.5, @maxPaddingTopBottom: 9, @minPaddingLeftRight: 5, @maxPaddingLeftRight: 10, @minMarginTopBottom: 4, @maxMarginTopBottom: 8) {
    .navbar-toggle {
        .responsivePaddingTop("", @minPaddingTopBottom, @maxPaddingTopBottom, @maxWidth: @rawMaxXsScreenSize);
        .responsivePaddingBottom("", @minPaddingTopBottom, @maxPaddingTopBottom, @maxWidth: @rawMaxXsScreenSize);
        .responsivePaddingLeft("", @minPaddingLeftRight, @maxPaddingLeftRight, @maxWidth: @rawMaxXsScreenSize);
        .responsivePaddingRight("", @minPaddingLeftRight, @maxPaddingLeftRight, @maxWidth: @rawMaxXsScreenSize);
        .responsiveMarginTop("", @minMarginTopBottom, @maxMarginTopBottom, @maxWidth: @rawMaxXsScreenSize);
        .responsiveMarginBottom("", @minMarginTopBottom, @maxMarginTopBottom, @maxWidth: @rawMaxXsScreenSize);
    }
}

//Responsive DropdownMenu
.responsiveDropdownMenu(@minFontSize: 10, @maxFontSize: 14, @minPaddingLeftRight: 5, @maxPaddingLeftRight: 20, @minLineHeight: 1, @maxLineHeight: 1.45) {
    .dropdown-menu {
        .responsiveFontSize("", @minFontSize, @maxFontSize);

        > li > a {
            .responsiveLineHeight("", @minLineHeight, @maxLineHeight);
            .responsivePaddingLeft("", @minPaddingLeftRight, @maxPaddingLeftRight);
            .responsivePaddingRight("", @minPaddingLeftRight, @maxPaddingLeftRight);
        }
    }
}

//Responsive Headings
.responsiveHeadingFontSize(@headingIndex, @h1MinSize: 22, @h1MaxSize: 37, @minSizeVariation: 2, @maxSizeVariation: 4.5, @styleUnit: "px") {
    @minValue: (@h1MinSize - (@minSizeVariation * @headingIndex));
    @maxValue: (@h1MaxSize - (@maxSizeVariation * @headingIndex));
    .responsiveFontSize("", @minValue, @maxValue, @styleUnit);
}

.responsiveHeadingLineHeight(@headingIndex, @h1MinSize: 1, @h1MaxSize: 1.16, @minSizeVariation: 0, @maxSizeVariation: 0.02) {
    @minValue: (@h1MinSize - (@minSizeVariation * @headingIndex));
    @maxValue: (@h1MaxSize - (@maxSizeVariation * @headingIndex));
    .responsiveLineHeight("", @minValue, @maxValue);
}

.responsiveHeadingMarginTop(@headingIndex, @h1MinSize: 10, @h1MaxSize: 20, @minSizeVariation: 1, @maxSizeVariation: 1, @styleUnit: "px") {
    @minValue: (@h1MinSize - (@minSizeVariation * @headingIndex));
    @maxValue: (@h1MaxSize - (@maxSizeVariation * @headingIndex));
    .responsiveMarginTop("", @minValue, @maxValue, @styleUnit);
}

.responsiveHeadingMarginBottom(@headingIndex, @h1MinSize: 5, @h1MaxSize: 10, @minSizeVariation: 0.8, @maxSizeVariation: 1, @styleUnit: "px") {
    @minValue: (@h1MinSize - (@minSizeVariation * @headingIndex));
    @maxValue: (@h1MaxSize - (@maxSizeVariation * @headingIndex));
    .responsiveMarginBottom("", @minValue, @maxValue, @styleUnit);
}

.responsiveHeadings(@heading: 1) when (@heading <= 6) {
    @tag: ~"h@{heading}";
    @{tag} {
        @headingIndex: (@heading - 1);
        .responsiveHeadingFontSize(@headingIndex);
        .responsiveHeadingLineHeight(@headingIndex);
        .responsiveHeadingMarginTop(@headingIndex);
        .responsiveHeadingMarginBottom(@headingIndex);
    }
    .responsiveHeadings(@heading + 1);
}

//Responsive Buttons
.responsiveButtonFontSize(@buttonIndex, @lgMinSize: 10, @lgMaxSize: 18, @minSizeVariation: 1.5, @maxSizeVariation: 2, @styleUnit: "px") {
    @minValue: (@lgMinSize - (@minSizeVariation * @buttonIndex));
    @maxValue: (@lgMaxSize - (@maxSizeVariation * @buttonIndex));
    .responsiveFontSize("", @minValue, @maxValue, @styleUnit);
}

.responsiveButtonLineHeight(@buttonIndex, @lgMinSize: 1, @lgMaxSize: 1.2, @minSizeVariation: -0.15, @maxSizeVariation: -0.05) {
    @minValue: (@lgMinSize - (@minSizeVariation * @buttonIndex));
    @maxValue: (@lgMaxSize - (@maxSizeVariation * @buttonIndex));
    .responsiveLineHeight("", @minValue, @maxValue);
}

.responsiveButtonPaddingTopBottom(@buttonIndex, @lgMinSize: 5, @lgMaxSize: 10, @minSizeVariation: 1, @maxSizeVariation: 2, @styleUnit: "px") {
    @minValue: (@lgMinSize - (@minSizeVariation * @buttonIndex));
    @maxValue: (@lgMaxSize - (@maxSizeVariation * @buttonIndex));
    .responsivePaddingTop("", @minValue, @maxValue, @styleUnit);
    .responsivePaddingBottom("", @minValue, @maxValue, @styleUnit);
}

.responsiveButtonPaddingLeftRight(@buttonIndex, @lgMinSize: 8, @lgMaxSize: 16, @minSizeVariation: 2, @maxSizeVariation: 4, @styleUnit: "px") {
    @minValue: (@lgMinSize - (@minSizeVariation * @buttonIndex));
    @maxValue: (@lgMaxSize - (@maxSizeVariation * @buttonIndex));
    .responsivePaddingLeft("", @minValue, @maxValue, @styleUnit);
    .responsivePaddingRight("", @minValue, @maxValue, @styleUnit);
}

.responsiveButtons(){
    @buttonsSelector: ~".btn", 1, ~".btn-group-xs > .btn, .btn-xs", 3, ~".btn-group-sm > .btn, .btn-sm", 2, ~".btn-group-lg > .btn, .btn-lg", 0;
    .forEachButton(@buttonsSelector, @index: 1) when (@index <= length(@buttonsSelector)) {
        @selector: extract(@buttonsSelector, @index);
        @{selector} {
            @buttonIndex: extract(@buttonsSelector, (@index + 1));
            .responsiveButtonFontSize(@buttonIndex);
            .responsiveButtonLineHeight(@buttonIndex);
            .responsiveButtonPaddingTopBottom(@buttonIndex);
            .responsiveButtonPaddingLeftRight(@buttonIndex);
        }
        .forEachButton(@buttonsSelector, (@index + 2));
    }
    .forEachButton(@buttonsSelector);
}

//Responsive Paragraphs
.responsiveParagraphs(@minMarginBottom: 5, @maxMarginBottom: 10) {
    .responsiveMarginBottom(~"p", @minMarginBottom, @maxMarginBottom);
}

//Responsive Lists
.responsiveLists(@minMarginBottom: 5, @maxMarginBottom: 10, @minPaddingLeft: 5, @maxPaddingLeft: 40) {
    .responsiveList, .responsiveUnstyledList {
        .responsiveMarginBottom("", @minMarginBottom, @maxMarginBottom);
    }
    .responsivePaddingLeft(~".responsiveList", @minPaddingLeft, @maxPaddingLeft);
}

//Responsive Data lists
.responsiveDataLists(@minMarginBottom: 5, @maxMarginBottom: 10,  @minLineHeight: 1.2, @maxLineHeight: 1.45) {
    dl {
        .responsiveMarginBottom("", @minMarginBottom, @maxMarginBottom);
        > dt, > dd {
            .responsiveLineHeight("", @minLineHeight, @maxLineHeight);
        }
    }
}


//Responsive Addresses
.responsiveAddresses(@minMarginBottom: 5, @maxMarginBottom: 10,  @minLineHeight: 1.2, @maxLineHeight: 1.45) {
    address {
        .responsiveLineHeight("", @minLineHeight, @maxLineHeight);
        .responsiveMarginBottom("", @minMarginBottom, @maxMarginBottom);
    }
}

//Responsive Blockquotes
.responsiveBlockquotes(@minFontSize: 12, @maxFontSize: 18) {
    .responsiveFontSize(~"blockquote", @minFontSize, @maxFontSize);
}

.responsiveCarouselIndicators(@minBottom: -10, @maxBottom: 10, @minSize: 8, @maxSize: 10, @active: 2) {
    .carousel-indicators {
        .responsiveBottom("", @minBottom, @maxBottom);

        li {
            .responsiveWidth("", @minSize, @maxSize);
            .responsiveHeight("", @minSize, @maxSize);
        }
        .active {
            .responsiveWidth("", (@minSize + @active), (@maxSize + @active));
            .responsiveHeight("", (@minSize + @active), (@maxSize + @active));
        }
    }
}

.defaultResponsivity() {
    .responsiveScrollbar();
    .responsiveBody();
    .responsiveContainers();
    .responsiveColumns();
    .responsivePanels();
    .responsivePanelHeadings();
    .responsivePanelBody();
    .responsiveNav();
    .responsiveTabContent();
    .responsiveNavBrand();
    .responsiveNavbarToggle();
    .responsiveDropdownMenu();
    .responsiveHeadings();
    .responsiveButtons();
    .responsiveParagraphs();
    .responsiveLists();
    .responsiveDataLists();
    .responsiveAddresses();
    .responsiveBlockquotes();
    .responsiveCarouselIndicators();
    .buildClassForResponsiveMarginForEachSide(5, 15);
    .buildClassForResponsivePaddingForEachSide(5, 15);
    .buildClassForResponsiveGrid();
}

.defaultConstantResponsivity() {
    .navbar-brand {
        height: auto;
    }
    .carousel-inner img {
        width: 100%;
    }
    .dropdown-menu {
        max-height: 50vh;
        overflow-y: auto;
        min-width: min-content;
    }
    @media(max-width: @maxXsScreenSize) {
        .navbar-collapse.collapse .dropdown-menu {
            max-height: none;
        }
    }
    iframe {
        width: 100%;
    }
}
