//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

.fixedOnTop(@top: 0, @zIndex: 9999) {
    top: @top;
    z-index: @zIndex;
    position: fixed;
}

.fixedOnTopLeft(@top: 0, @left: 0, @zIndex: 9999) {
    .fixedOnTop(@top, @zIndex);
    left: @left;
}

.fixedOnTopRight(@top: 0, @right: 0, @zIndex: 9999)  {
    .fixedOnTop(@top, @zIndex);
    right: @right;
}

.fixedOnBottom(@bottom: 0, @zIndex: 9999) {
    bottom: @bottom;
    z-index: @zIndex;
    position: fixed;
}

.fixedOnBottomLeft(@bottom: 0, @left: 0, @zIndex: 9999) {
    .fixedOnBottom(@bottom, @zIndex);
    left: @left;
}

.fixedOnBottomRight(@bottom: 0, @right: 0, @zIndex: 9999)  {
    .fixedOnBottom(@bottom, @zIndex);
    right: @right;
}
