//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

.topToBottomLinearGradient(@color1, @color2) {
    background: @color1; // For browsers that do not support gradients
    background: -webkit-linear-gradient(@color1, @color2); // For Safari 5.1 to 6.0
    background: -o-linear-gradient(@color1, @color2); // For Opera 11.1 to 12.0
    background: -moz-linear-gradient(@color1, @color2); // For Firefox 3.6 to 15
    background: linear-gradient(@color1, @color2); // Standard syntax
}

.leftToRightLinearGradient(@color1, @color2) {
    background: @color1; // For browsers that do not support gradients
    background: -webkit-linear-gradient(left, @color1, @color2); // For Safari 5.1 to 6.0
    background: -o-linear-gradient(right, @color1, @color2); // For Opera 11.1 to 12.0
    background: -moz-linear-gradient(right, @color1, @color2); // For Firefox 3.6 to 15
    background: linear-gradient(to right, @color1, @color2); // Standard syntax
}

.topDiagonalLinearGradient(@color1, @color2) {
    background: @color1; // For browsers that do not support gradients
    background: -webkit-linear-gradient(left top, @color1, @color2); // For Safari 5.1 to 6.0
    background: -o-linear-gradient(bottom right, @color1, @color2); // For Opera 11.1 to 12.0
    background: -moz-linear-gradient(bottom right, @color1, @color2); // For Firefox 3.6 to 15
    background: linear-gradient(to bottom right, @color1, @color2); // Standard syntax
}

.bottomDiagonalLinearGradient(@color1, @color2) {
    background: @color1; // For browsers that do not support gradients
    background: -webkit-linear-gradient(left bottom, @color1, @color2); // For Safari 5.1 to 6.0
    background: -o-linear-gradient(top right, @color1, @color2); // For Opera 11.1 to 12.0
    background: -moz-linear-gradient(top right, @color1, @color2); // For Firefox 3.6 to 15
    background: linear-gradient(to top right, @color1, @color2); // Standard syntax
}
