//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

@blackSquare: "\25A0";
@whiteSquare: "\25A1";
@blackCircle: "\25CF";
@whiteCircle: "\25CB";

.unorderedListStyle(@color, @content: @blackCircle, @marginLeft: -1em, @marginRight: 0.5em, @rootSelector: ~"ul") when not (@rootSelector = "") {
    @{rootSelector} {
        .unorderedListStyle(@color, @content, @marginLeft, @marginRight, "");
    }
}

.unorderedListStyle(@color, @content: @blackCircle, @marginLeft: -1em, @marginRight: 0.5em, @rootSelector: ~"ul") when (@rootSelector = "") {
    & {
        list-style-type: none;
        li:before {
            color: @color;
            content: @content;
            margin-left: @marginLeft;
            margin-right: @marginRight;
        }
    }
}

.orderedListStyle(@color, @width: 1.1em, @marginRight: 0.5em, @rootSelector: ~"ol") when not (@rootSelector = "") {
    @{rootSelector} {
        .orderedListStyle(@color, @width, @marginRight, "");
    }
}

.orderedListStyle(@color, @width: 1.1em, @marginRight: 0.5em, @rootSelector: ~"ol") when (@rootSelector = "") {
    & {
        list-style-type: none;
        counter-reset: li;
        li {
            counter-increment: li;

            &:before {
                color: @color;
                width: @width;
                text-align: right;
                content: counter(li);
                display: inline-block;
                margin-right: @marginRight;
            }
        }
    }
}

.horizontalDataList(@dtWidth: 160px, @gapWidth: 10px, @minWidth: 0px, @rootSelector: ~"dl") when not (@rootSelector = "") {
    @{rootSelector} {
        .horizontalDataList(@dtWidth, @gapWidth, @minWidth, "");
    }
}

.horizontalDataList(@dtWidth: 160px, @gapWidth: 10px, @minWidth: 0px, @rootSelector: ~"dl") when (@rootSelector = "") {
    @media(min-width: @minWidth) {
        & {
            > dt {
                float: left;
                clear: left;
                width: @dtWidth;
                overflow: hidden;
                text-align: right;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            > dd {
                text-align: left;
                margin-left: (@dtWidth + @gapWidth);
            }
        }
    }
}

.stripedList(@backgroundColor: #f9f9f9, @rootSelector: ~"ul", @childSelector: ~"li") when not (@rootSelector = "") {
    @{rootSelector} {
        .stripedList(@backgroundColor, "", @childSelector);
    }
}

.stripedList(@backgroundColor: #f9f9f9, @rootSelector: ~"ul", @childSelector: ~"li") when (@rootSelector = "") {
    & {
        > @{childSelector} {
            &:nth-child(odd):not(:only-child) {
                background-color: @backgroundColor;
            }
        }
    }
}
