//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

.setLinksInNavbar(@rules, @rootSelector: ~"nav.navbar .navbar-nav") when not (@rootSelector = ""){
    @{rootSelector} {
        .setLinksInNavbar(@rules, "");
    }
}
.setLinksInNavbar(@rules, @rootSelector: ~"nav.navbar .navbar-nav") when (@rootSelector = "") {
    & li {
        ul, a {
            @rules();
        }
    }
}

.setlinksHoverInNavbar(@rules, @rootSelector: ~"nav.navbar .navbar-nav") when not (@rootSelector = ""){
    @{rootSelector} {
        .setlinksHoverInNavbar(@rules, "");
    }
}
.setlinksHoverInNavbar(@rules, @rootSelector: ~"nav.navbar .navbar-nav") when (@rootSelector = ""){
    & li {
        &.active > a, &.active > a:hover, a:hover, a:focus {
            @rules();
        }
    }
}

.setNavbarToogle(@rules, @rootSelector: ~"nav.navbar") when not (@rootSelector = ""){
    @{rootSelector} {
        .setNavbarToogle(@rules, "");
    }
}

.setNavbarToogle(@rules, @rootSelector: ~"nav.navbar") when (@rootSelector = ""){
    & .navbar-toggle {
        @rules();
    }
}

.setNavbarToogleIconBar(@rules, @rootSelector: ~"nav.navbar") when not (@rootSelector = ""){
    @{rootSelector} {
        .setNavbarToogleIconBar(@rules, "");
    }
}
.setNavbarToogleIconBar(@rules, @rootSelector: ~"nav.navbar") when (@rootSelector = ""){
    & .navbar-toggle .icon-bar {
        @rules();
    }
}

.setNavbarToogleHover(@rules, @rootSelector: ~"nav.navbar") when not (@rootSelector = ""){
    @{rootSelector} {
        .setNavbarToogleHover(@rules, "");
    }
}

.setNavbarToogleHover(@rules, @rootSelector: "nav.navbar") when (@rootSelector = ""){
    & .navbar-toggle {
        &:focus, &:hover {
            @rules();
        }
    }
}

.fixTopFixedNavbar(@bodyMarginTop: 60px, @anchorOffset: @bodyMarginTop, @bodySelector: ~"body", @anchorSelector: ~".anchor") when not (@bodySelector = "") {
    @{bodySelector} {
        .fixTopFixedNavbar(@bodyMarginTop, @anchorOffset, "", @anchorSelector);
    }
}

.fixTopFixedNavbar(@bodyMarginTop: 60px, @anchorOffset: @bodyMarginTop, @bodySelector: ~"body", @anchorSelector: ~".anchor") when (@bodySelector = "") {
    margin-top: @bodyMarginTop;

    @{anchorSelector} {
        display: block;
        top: (@anchorOffset * -1);
        position: relative;
        visibility: hidden;
    }
}

.collapseWithSize(@size) {
    @media (max-width: @size) {
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

            &.collapse {
                display: none !important;

                &.in {
                    display: block!important;
                }
            }
        }
        .collapsing {
            overflow: hidden!important;
        }
        .navbar-nav {
            float: none !important;
            margin: 7.5px -15px;

            > li {
                float: none;

                > a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
    }
}