//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

//Responsive Style
.responsiveStyle(@selector, @style, @minValue, @styleIncrement: 1, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) when (@width >= @minWidth) and (@width <= @maxWidth) and (@selector = "") {
    @value: (@minValue + (@i * @styleIncrement));
    @{style}: ~"@{value}@{styleUnit}";
}

.responsiveStyle(@selector, @style, @minValue, @styleIncrement: 1, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) when (@width >= @minWidth) and (@width <= @maxWidth) and not (@selector = "") {
    @value: (@minValue + (@i * @styleIncrement));
    @{selector} {
        @{style}: ~"@{value}@{styleUnit}";
    }
}

.responsiveStyleBetweenRange(@selector, @style, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    @styleIncrement: ((@maxValue - @minValue) / floor((@maxWidth - @minWidth) / @widthIncrement));
    .responsiveStyle(@selector, @style, @minValue, @styleIncrement, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveStyle(@classPrefix, @style, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) when (@styleUnit = "%") {
    .responsiveStyleBetweenRange(~".@{classPrefix}-@{minValue}-@{maxValue}pe", @style, @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveStyle(@classPrefix, @style, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) when not (@styleUnit = "%") {
    .responsiveStyleBetweenRange(~".@{classPrefix}-@{minValue}-@{maxValue}@{styleUnit}", @style, @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveStyleForEachSide(@classPrefix, @stylePrefix, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) when not (@styleUnit = "%") {
    @classSuffix: ~"-@{minValue}-@{maxValue}@{styleUnit}";
    .responsiveStyleBetweenRange(~".@{classPrefix}@{classSuffix}, .@{classPrefix}T@{classSuffix}, .@{classPrefix}TB@{classSuffix}", ~"@{stylePrefix}-top", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
    .responsiveStyleBetweenRange(~".@{classPrefix}@{classSuffix}, .@{classPrefix}B@{classSuffix}, .@{classPrefix}TB@{classSuffix}", ~"@{stylePrefix}-bottom", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
    .responsiveStyleBetweenRange(~".@{classPrefix}@{classSuffix}, .@{classPrefix}L@{classSuffix}, .@{classPrefix}LR@{classSuffix}", ~"@{stylePrefix}-left", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
    .responsiveStyleBetweenRange(~".@{classPrefix}@{classSuffix}, .@{classPrefix}R@{classSuffix}, .@{classPrefix}LR@{classSuffix}", ~"@{stylePrefix}-right", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveStyleForEachSide(@classPrefix, @stylePrefix, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) when (@styleUnit = "%") {
    @classSuffix: ~"-@{minValue}-@{maxValue}pe";
    .responsiveStyleBetweenRange(~".@{classPrefix}@{classSuffix}, .@{classPrefix}T@{classSuffix}, .@{classPrefix}TB@{classSuffix}", ~"@{stylePrefix}-top", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
    .responsiveStyleBetweenRange(~".@{classPrefix}@{classSuffix}, .@{classPrefix}B@{classSuffix}, .@{classPrefix}TB@{classSuffix}", ~"@{stylePrefix}-bottom", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
    .responsiveStyleBetweenRange(~".@{classPrefix}@{classSuffix}, .@{classPrefix}L@{classSuffix}, .@{classPrefix}LR@{classSuffix}", ~"@{stylePrefix}-left", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
    .responsiveStyleBetweenRange(~".@{classPrefix}@{classSuffix}, .@{classPrefix}R@{classSuffix}, .@{classPrefix}LR@{classSuffix}", ~"@{stylePrefix}-right", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Grid
.buildResponsiveGrid(@columns: 1, @minWidth: @width, @selector: ~".grid-@{columns}-@{minWidth}@{widthUnit}") when (@width = @minWidth) and not (@selector = "") {
    @{selector} {
        .buildResponsiveGrid(@columns, @minWidth, "");
    }
}

.buildResponsiveGrid(@columns: 1, @minWidth: @width, @selector: ~".grid-@{columns}-@{minWidth}@{widthUnit}") when (@width = @minWidth) and (@selector = "") {
    & {
        > * {
            float: left;
            width: (100% / @columns);
        }
    }
}

.buildClassForResponsiveGrid(@column: 1, @maxColumn: 12) when (@column <= @maxColumn) {
    .buildResponsiveGrid(@column);
    .buildClassForResponsiveGrid((@column + 1), @maxColumn);
}

//Responsive Width
.responsiveWidth(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"width", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveWidth(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "width", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"width", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Height
.responsiveHeight(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"height", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveHeight(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "height", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"height", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Font Size
.responsiveFontSize(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"font-size", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveFontSize(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "fontSize", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"font-size", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Line Height
.responsiveLineHeight(@selector, @minValue, @maxValue, @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"line-height", @minValue, @maxValue, "", @minWidth, @maxWidth);
}

.buildClassForResponsiveLineHeight(@minValue, @maxValue, @classPrefix: "lineHeight", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"line-height", @minValue, @maxValue, "", @minWidth, @maxWidth);
}

//Responsive Margin
.buildClassForResponsiveMarginForEachSide(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "margin", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyleForEachSide(@classPrefix, "margin", @minValue, @maxValue);
}

//Responsive Margin Top
.responsiveMarginTop(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"margin-top", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveMarginTop(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "marginT", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"margin-top", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Margin Bottom
.responsiveMarginBottom(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"margin-bottom", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveMarginBottom(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "marginB", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"margin-bottom", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Margin Left
.responsiveMarginLeft(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"margin-left", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveMarginLeft(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "marginL", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"margin-left", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Margin Right
.responsiveMarginRight(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"margin-right", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveMarginRight(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "marginR", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"margin-right", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Padding
.buildClassForResponsivePaddingForEachSide(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "padding", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyleForEachSide(@classPrefix, "padding", @minValue, @maxValue);
}

//Responsive Padding Top
.responsivePaddingTop(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"padding-top", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsivePaddingTop(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "paddingT", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"padding-top", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Padding Bottom
.responsivePaddingBottom(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"padding-bottom", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsivePaddingBottom(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "paddingB", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"padding-bottom", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Padding Left
.responsivePaddingLeft(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"padding-left", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsivePaddingLeft(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "paddingL", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"padding-left", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Padding Right
.responsivePaddingRight(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"padding-right", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsivePaddingRight(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "paddingR", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"padding-right", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Top
.responsiveTop(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"top", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveTop(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "top", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"top", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Bottom
.responsiveBottom(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"bottom", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveBottom(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "bottom", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"bottom", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Left
.responsiveLeft(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"left", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveLeft(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "left", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"left", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

//Responsive Right
.responsiveRight(@selector, @minValue, @maxValue, @styleUnit: "px", @minWidth: @from, @maxWidth: @to) {
    .responsiveStyleBetweenRange(@selector, ~"right", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.buildClassForResponsiveRight(@minValue, @maxValue, @styleUnit: "px", @classPrefix: "right", @minWidth: @from, @maxWidth: @to) {
    .buildClassForResponsiveStyle(@classPrefix, ~"right", @minValue, @maxValue, @styleUnit, @minWidth, @maxWidth);
}

.defaultResponsivity() {

}

.responsivity() {

}

.defaultConstantResponsivity() {

}

.constantResponsivity() {

}

.buildResponsivityforEachWidth(@from: 0, @to: 1280, @widthIncrement: 160, @widthUnit: ~"px", @useDefault: true, @i: 0, @width: @from) when (@width <= @to) {
    @nextWidth: (@width + @widthIncrement);
    & {
        @media (min-width: ~"@{width}@{widthUnit}") {
            & {
                & when (@useDefault = true) {
                    .defaultResponsivity();
                }
                .responsivity();
            }
        }

        & when (@nextWidth > @to) {
            & when (@useDefault = true) {
                .defaultConstantResponsivity();
            }

            .constantResponsivity();
        }
    }
    .buildResponsivityforEachWidth(@from, @to, @widthIncrement, @widthUnit, @useDefault, (@i + 1), @nextWidth);
}
