//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

.scrollbar(@thumb: {}, @track: {}, @selector: "") when (@selector = "") {
    &::-webkit-scrollbar-track {
        @track();
    }
    &::-webkit-scrollbar-thumb {
        @thumb();
    }
}
.scrollbar(@thumb: {}, @track: {}, @selector: "") when not (@selector = "") {
    @{selector} {
        .scrollbar(@track, @thumb, "");
    }
}